
/**************************************************
PULL DOWN ICON TO ACCTIVATE NEW TWEET FORM
**************************************************/

#pullicon {
  color: lightgreen;
  position: relative;
}

#pullicon:hover {
  animation-duration: 1.5s;
  animation-name: pulldown;
  animation-iteration-count: infinite;
}

@keyframes pulldown {
  from {
    color: lightgreen;
    top: 0px;
  }
  66% {
    color: #FFFFFF;
    top: 5px;
  }
  to {
    color: lightgreen;
    top: 0px;
  }
}