
/**************************************************
PULL DOWN ICON TO ACCTIVATE NEW TWEET FORM
**************************************************/

#pullicon {
  color: #4056A1;
  position: relative;
  width: 30px;
  height: 30px;

  &:hover {
    animation-duration: 1.2s;
    animation-name: pulldown;
    animation-iteration-count: infinite;
  }
}

@keyframes pulldown {
  from {
    color: #4056A1;
    top: 0px;
  }
  60% {
    color: #000000;
    top: 5px;
  }
  to {
    color: #4056A1;
    top: 0px;
  }
}

@keyframes pulldown-lg {
  from {
    color: lightgreen;
    top: 0px;
  }
  60% {
    color: #ffffff;
    top: 5px;
  }
  to {
    color: lightgreen;
    top: 0px;
  }
}

@media (min-width: 1024px) {
  #pullicon {
    color: lightgreen;

    &:hover {
      animation-name: pulldown-lg; 
    }
  }
}