body .profile {
  background-color: #00751f;
  background-image: url("https://www.transparenttextures.com/patterns/cardboard-flat.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-end;
  text-align: center;
}

h1  {
  color: #FFFFFF;
  font-weight: inherit;
}