nav {
  height: 120px;
  position: fixed;
  z-index: 2;
  background-color: #4056A1;
  color: #FFFFFF;
  width: 100%;
  padding: 1.5em;
  top: 0px;
  display: flex;
  justify-content: space-between;
}

#leftnav, #rightnav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#pullicon {
  color: lightgreen;
  position: relative;
}

#pullicon:hover {
  animation-duration: 1.5s;
  animation-name: pulldown;
  animation-iteration-count: infinite;
}

@keyframes pulldown {
  from {
    color: lightgreen;
    top: 0px;
  }
  66% {
    color: #FFFFFF;
    top: 5px;
  }
  to {
    color: lightgreen;
    top: 0px;
  }
}