#new-tweet {
  padding: 5%;
}

#form-tweet-submit textarea {
  width: 100%;
  margin: 10px auto 10px auto;
  background-color: inherit;
  border: none;
  height: 2em;
  border-bottom: 4px black solid;
  font-weight: 700;
  resize: none;
}

#form-tweet-submit textarea:focus {
  outline: none;
}

#form-tweet-submit [type="submit"] {
  background-color: #4056A1;
  color: white;
  font-size: 0.8em;
  padding: 8px;
}

.counter {
  float: right;
  position: relative;
  top: 9px;
}